.edit-container {
  display: flex;
  gap: 40px; 
  padding: 40px;
  background-color: #f4f4f4;
}

.card-left {
  width: 100%;
  max-width: 360px;
  height: 813px;
  padding: 20px;
  border-radius: 16px;
  background-color:#FDFDFD;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.editAvatar {
  width: 100%;
  max-width: 270px;
  height: 460px;
  border-radius: 8px;
}

.card-left h2 {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  color:  #161616;
}

.profile-options {
  list-style: none; 
  padding: 0;
  margin: 0;
}

.profile-options li {
  font-size: 1rem;
  font-weight: 500;
  color: #999; 
  padding: 10px 0;
  border-bottom: 1px solid #9C9C9C; 
  cursor: pointer;
  margin-bottom: 24px;
}

.profile-options li:hover {
  color: #000; 
}

.card-right {
  width: 760px;
  height: auto; 
  padding: 40px;
  border-radius: 16px;
  background-color:#FDFDFD;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card-right h2 {
  margin-bottom: 20px;
  line-height: 50px;
  border-bottom: 1px solid #9C9C9C; 
}

.card-right form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-right form label {
  margin-bottom: 5px;
  color: #161616;
  font-size: 18px;
  font-weight: 600;
}

.card-right form input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 50px;
  width: 420px;
  font-size: 16px;
  font-weight: 500;
  color: #161616;
}

.editButton {
  width: 170px;
  height: 46px;
  padding: 12px 42px 12px 42px;
  gap: 12px;
  border-radius: 50px;
  cursor: pointer;
  background-color: #161616;
  color: #FDFDFD;
  font-size: 16px;
  margin-top: 32px;
}


.modal {
  position: fixed;
  transform: translateX(150%);
  width: 310px;
  height: 211px;
  background-color: #fff;
  padding: 40px 0;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.modalImage {
  width: 64px;
  height: 64px;
}

.modal p {
  font-size: 18px;
  font-weight: 500;
  color: #161616;
}

@media (max-width: 768px) {
  .edit-container {
    flex-direction: column; 
    padding: 20px; 
    flex-wrap: wrap;
  }

  .card-left,
  .card-right {
    width: 100%; 
    max-width: none; 
    height: auto;
  }

  .editAvatar {
    max-width: 287px; 
    min-height: auto;
  
  }

  .profile-options li {
    font-size: 0.875rem; 
  }

  .card-right form label {
    font-size: 0.875rem; 
  }

  .card-right form input {
    font-size: 0.875rem; 
    width: 287px;
  }
}