.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
}

.container h2 {
  align-self: flex-start;
  font-size: 24px;
  font-weight: 600;
  margin-left: 140px;
}


.archive-title {
  margin-top: 20px; 
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 24px;
}