.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1160px;
  gap: 20px;
  justify-content: center;
  padding: 0 16px;
}


.card {
  position: relative;
  background-color: #fff;
  width: 100%;
  max-width: 300px;
  max-height: 140px;
  padding: 24px;
  gap: 20px;
  border-radius: 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

.avatar {
  border-radius: 8%;
  width: 100%; 
  max-width: 112px;
  height: 120px;
  transition: filter 0.3s ease;
}


.archived {
  filter: grayscale(100%);
}

.desc {
  height: 120px;
  margin-top: -20px;
  margin-right: 50px;

}

.user {
  font-size: 1.25rem;
  font-weight: 600;
  color: #22A0BC;  
  margin-bottom: 0;
  margin-top: 25px;
}

.userAdress {
  font-size: 1rem;
  margin-top: 8px;
  font-weight: 500;
}

.userCompany {
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 40px;
}


.dropdown {
  position: absolute;
  top: 16px;
  right: 16px;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.dropdown-toggle img {
  width: 16px;
  height: 16px;
  transition: transform 0.3s;
}


.dropdown-toggle:hover img {
  content: url('/public/dothHover.svg'); 
  transform: scale(1.1); 
}


.dropdown-toggle:active img {
  content: url('/public/dothTap.svg');
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 100;
  padding: 8px 0;
}

.dropdown-menu button {
  display: block;
  background: none;
  border: none;
  text-align: left;
  padding: 10px 16px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: #f0f0f0;
}

.dropdown-menu a {
  text-decoration: none;
  color: inherit;
}

.dropdown-menu button + button {
  border-top: 1px solid #eaeaea; 
}

@media (max-width: 768px) {


  .card {
    width: calc(50% - 10px); 
    max-width: none; 
   
  }

  .user,
  .userAdress,
  .userCompany {
    font-size: 0.5rem; 
  }

  .desc {
    margin-right: 0; 
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%; 
  }
}