.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FDFDFD;
  width: 1440px;
  height: 56px;
  padding: 0 16px;
}

.logo {
  width: 24px;
  height: 24px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.username {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 19.5px;
  color: #333153;
  margin-left: 

}